# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/
BUILD_ID
*-manifest.json
*.nft.json
export-marker.json
trace

# production
/build
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# firebase
.firebase/
.firebaserc.local
firebase-debug.log
firestore-debug.log
ui-debug.log

# typescript
*.tsbuildinfo
next-env.d.ts

# cache and devtools
.cache/
chrome-devtools-workspace-*
next-devtools-config.json
